<%= form_with(model: [ @trap, @trap.requests.build ], local: true) do |form| %>
  

  <div class="field">
    <%= form.label :request %>
    <%= form.text_field :request, id: :request_request %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
